name: CI

on:
  push:
  pull_request:

jobs:
  desktop:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Configure
        run: cmake -B build -DRESOURCE_EMBEDDER_TESTS=ON
      - name: Build
        run: cmake --build build

  ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure
        run: cmake -B build -G Xcode -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_DEPLOYMENT_TARGET=14.0
      - name: Build
        run: cmake --build build -- -sdk iphonesimulator
